<a href="https://colab.research.google.com/github/Mat782011/Data/blob/main/Speaktime_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
#
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [30]:
! git clone --recursive https://github.com/Mat782011/Data

fatal: destination path 'Data' already exists and is not an empty directory.

#Analyse des données du fichier

In [31]:
df = pd.read_csv("/content/Data/Speaktime.csv")
df.head(10)

  media_type channel_name  ...  speech_rate  nb_hours_analyzed
0      radio    Chérie FM  ...    17.874993               28.0
1      radio    Chérie FM  ...    26.427162               20.0
2      radio    Chérie FM  ...    30.158546               25.0
3      radio    Chérie FM  ...    12.533961               21.0
4      radio    Chérie FM  ...    16.901816               23.0
5      radio    Chérie FM  ...    17.721200               24.0
6      radio    Chérie FM  ...     9.828919               21.0
7      radio    Chérie FM  ...    17.353214               47.0
8      radio    Chérie FM  ...    29.307879               31.0
9      radio    Chérie FM  ...    32.417351               29.0

[10 rows x 8 columns]

In [32]:
df.tail()

      media_type channel_name  ...  speech_rate  nb_hours_analyzed
11502         tv           W9  ...    69.746020               25.0
11503         tv           W9  ...    70.504944               25.0
11504         tv           W9  ...    74.250971               25.0
11505         tv           W9  ...    77.279876               25.0
11506         tv           W9  ...    77.976503               25.0

[5 rows x 8 columns]

In [33]:
df.shape

(11507, 8)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11507 entries, 0 to 11506
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   media_type             11507 non-null  object
 1   channel_name           11507 non-null  object
 2   is_public_channel      11507 non-null  bool
 3   year                   11507 non-null  int64
 4   hour                   11507 non-null  int64
 5   women_expression_rate  11507 non-null  float64
 6   speech_rate            11507 non-null  float64
 7   nb_hours_analyzed      11507 non-null  float64
dtypes: bool(1), float64(3), int64(2), object(2)
memory usage: 640.7+ KB

In [35]:
df.describe()

               year          hour  ...   speech_rate  nb_hours_analyzed
count  11507.000000  11507.000000  ...  11507.000000       11507.000000
mean    2011.846181     14.971148  ...     65.050600          40.017468
std        5.538903      5.104713  ...     29.802475          11.063756
min     1995.000000      5.000000  ...      0.272575          20.000000
25%     2009.000000     11.000000  ...     39.760091          32.000000
50%     2013.000000     15.000000  ...     76.513738          39.000000
75%     2016.000000     19.000000  ...     89.136704          47.000000
max     2019.000000     23.000000  ...     99.572433          80.000000

[8 rows x 5 columns]

#Séparation du df en data et target

In [36]:
data = df.drop('women_expression_rate', axis = 1)
target = df.women_expression_rate

#Train-Test Split

In [37]:
X_train, X_test, Y_train, Y_test = train_test_split(data, target, test_size = 0.2, random_state=5)

#Création d'un modèle de régression linéaire

In [38]:
lm = LinearRegression()

#Entraînement du modèle à partir de X_train et Y_train

In [39]:
lm.fit(X_train,Y_train)

ValueError: ignored

#Affichage des estimateurs

In [ ]:
print("Intercepte estimé : ", lm.intercept_)

In [ ]:
lm.coef_

In [ ]:
pd.DataFrame({'coeffcients estimés': lm.coef_}, index = X_train.columns)

In [ ]:
plt.scatter(df.channel_name  , df.women_expression_rate)

#Evaluation du modèle

In [ ]:
Y_pred = lm.predict(X_test)

print("Prédictions :", Y_pred[0:5])
print("Valeurs réelles :", list(Y_test[0:5]))

In [ ]:
Y_pred[0:5] - list(Y_test[0:1])

In [ ]:
plt.scatter(Y_test , Y_pred)
x = np.linspace(0,50)
plt.plot(x, x, 'g');

In [ ]:
Y_pred_train = lm.predict(X_train)
residus = Y_pred_train - Y_train
plt.scatter(Y_train , residus)
plt.plot((Y_train.min(), Y_train.max()), (0,0),color = 'r')

In [ ]:
plt.figure(figsize=13,13)

In [ ]:
sns.pairplot(df)
plt.show